.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-reg{
    height: 450px;
    width: 900px;
    border-radius: 9px;
    box-shadow: 10px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.log{
    height: 320px;
    width: 300px;
    margin-right: 50px;
    border-radius: 9px;
    background:rgba(255, 255, 255, 0.151);
}

.welcome{
    height: 320px;
    width: 300px;
    margin-left: 50px;
    border-radius: 9px;
    
}

body{
     background: linear-gradient(210deg, rgba(197, 187, 184, 1.000) 0.000%, rgba(184, 181, 184, 1.000) 7.143%,
    rgba(169, 175, 183, 1.000) 14.286%, rgba(154, 168, 181, 1.000) 21.429%, rgba(139, 161, 179, 1.000) 28.571%,
    rgba(125, 152, 175, 1.000) 35.714%, rgba(112, 144, 171, 1.000) 42.857%, rgba(101, 135, 166, 1.000) 50.000%,
    rgba(92, 126, 161, 1.000) 57.143%, rgba(85, 117, 155, 1.000) 64.286%, rgba(81, 108, 148, 1.000) 71.429%,
        rgba(79, 99, 141, 1.000) 78.571%, rgba(80, 90, 133, 1.000) 85.714%, rgba(84, 83, 125, 1.000) 92.857%, 
        rgba(91, 75, 116, 1.000) 100.000%);
}

label,input{
    margin-left: 40px;
}

.log1{
    margin-left: 90px;
    color: white;

}

label{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}

input{
    height: 25px;
    width: 210px;
    border-radius: 9px;
    background:rgba(255, 255, 255, 0.205);
    border: none;
}

button{
    height: 30px;
    width: 218px;
    border-radius: 9px;
    border: none;
    margin-left: 40px;
    position: relative;
    bottom: -6px;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:active{
    transform: translateY(2px);
    box-shadow: 0 2px 0 #2980b9;
     background: linear-gradient(210deg, rgba(197, 187, 184, 1.000) 0.000%, rgba(184, 181, 184, 1.000) 7.143%,
    rgba(169, 175, 183, 1.000) 14.286%, rgba(154, 168, 181, 1.000) 21.429%, rgba(139, 161, 179, 1.000) 28.571%,
    rgba(125, 152, 175, 1.000) 35.714%, rgba(112, 144, 171, 1.000) 42.857%, rgba(101, 135, 166, 1.000) 50.000%,
    rgba(92, 126, 161, 1.000) 57.143%, rgba(85, 117, 155, 1.000) 64.286%, rgba(81, 108, 148, 1.000) 71.429%,
        rgba(79, 99, 141, 1.000) 78.571%, rgba(80, 90, 133, 1.000) 85.714%, rgba(84, 83, 125, 1.000) 92.857%, 
        rgba(91, 75, 116, 1.000) 100.000%);
}

.welcome_line{
    height: 2px;
    width: 20px;
    background-color: white;
    position: relative;
    top: -10px;
    margin: 5px;
    
}

.welh1{
    color: white;
}

.texth5{
    color: white;
    position: relative;
    top: -10px;
}

h6,a{
    text-align: center;
    color: white;
}

.forgotten{
    text-decoration: none;
    margin-left: 85px;
    position: relative;
    top: -10px;
}

.forgotten:hover{
    text-decoration: underline;
}

img{
    height: 320px;
    width: 300px;
    border-radius: 5px;
}

a{
    color: rgb(10, 10, 63);
}

img{
    width: 600px;
    height: 600px;
    position: relative;
    top: -130px;
    left: -90px;
}